/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #ccc;
}

a:hover {
  color: #fff;
}

ul {
  list-style: none;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

:root {
  /* Dark theme */
  --dark-background: #000;
  --dark-foreground: #fff;
  /* Light theme */
  --light-background: #fff;
  --light-foreground: #000;

  /* Defaults */
  --current-background: var(--light-background);
  --current-foreground: var(--light-foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --current-background: var(--dark-background);
    --current-foreground: var(--dark-foreground);
  }
}

html,
body {
  min-height: 100%;
}

body {
  font: normal 11px "Helvetica Neue", Helvetica, sans-serif;
  user-select: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  background-color: var(--current-background);
  color: var(--current-foreground);
  background-image: url(../images/noise.svg);
  height: 100dvh;
}

#root {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #daf6ff;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}

h1 {
  font-size: 2vw;
  font-family:'Courier New', Courier, monospace;
}
